@import "common/variables", "common/mixins", "common/reset", "common/container",
  "common/fluid-font", "components/ECIFillText/ECIFillText", "components/ECIModal/ECIModal";

  body{ 
    padding: 0 10px;
    height: 100vh;
    @extend %flexColumn; 
    background: $colorBackground;
    font-family: Montserrat;
  }

  