
.ECIFillText{
    @extend %flexColumn; 
    gap: 20px;
    background-color:$colorBackgroundComponent;
    padding: 20px;
    border-radius: 20px;
    max-width: 900px;
    margin: 0 auto;
    @include lg{
        gap: 35px;
        padding: 50px;
    }
    &__title{
        &>h1{
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            @include lg{
                font-size: 50px;
            }
            font-size: 40px;
        }

    }
    &__subtitle{
        & > p{
            text-align: center;
            font-size: 16px;
            @include xl{
                font-size: 18px;
            }
        }
    }
    &__items{
        background-color: $colorBackgroundComponent2;
        border-color: $colorBorderBackground;
        width: 100%;
        padding: 15px 15px 30px 15px;
        &-item{
            font-size: 18px;
            color: $colorText;
            cursor: pointer;      
            & > ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                & > li{
                    padding: 15px;
                    &[selected]{
                        background-color: $colorPrimary;
                        color: $colorWhite;
                    }
                }
            }
        }
      
       
    }
    &__buttons{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        @include lg{
            gap: 0;
            flex-direction: row;
        }
        & > div{
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
            @include lg{
                flex-direction: row;
            }         
            & > button{           
                @extend %buttonOutlined;               
            }
        }
        & > button{
            @extend %buttonContained;
        }
    }

}